@{
    ViewBag.Title = "About";
}


<div class="container">
    <h2>Proyecto Final</h2>
    <h3>Subasta e Intercambio de Items De Minecraft</h3>

    <h4>Nombre:</h4>
    <p>Martínez Casas Dylan Yoan</p>

    <h4>Grupo:</h4>
    <p>4TSM1</p>

    <h4>Fecha:</h4>
    <p>11/04/2023</p>

    <h4>Profesor:</h4>
    <p>Octavio Hernández Villeda</p>
</div>